@use 'base/mixins' as m;
@use 'base/variables' as v;

.citas{
    text-align: center;
    background-image: url(../img/bg_citas.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color: v.$blanco;
    padding: 5rem 0;
    &__heading{
        @include m.heading;
        font-size: 6rem;
    }
    &__texto{
        margin: 0 auto;
        max-width: 60rem;
        line-height: 1.8;
    }
    &__enlace{
        @include m.boton(v.$primario, v.$blanco);
        padding: 2rem 10rem;
    }
}